/*fonts google*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Orbitron&family=Quicksand:wght@300;500;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --font-primary: "Orbitron", sans-serif;
    --font-secundary: "Baloo 2", sans-serif;
    --font-action: "Quicksand", sans-serif;

    --background-primary-color: #e7e7e7;
    --background-secondary-color: #fff;
}

.main-container{
    height: 100vh;
    width: 100%;
}

.header-container{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    border-bottom: 1px solid #999999;
}

.img-wrapper-header a{
    color: #000;
    transition: color .3s;
    font-family: var(--font-secundary);
}

.img-wrapper-header a:hover{
    color: #f8f9;
}

.menu-header{
    display: flex;
    justify-content: space-between;
}

.menu-header a{
    padding: .5rem;
    margin: .2rem;
    color: #000;
    transition: color .3s;  
    font-family: var(--font-secundary); 
}

.menu-header a:hover{
    color: #f8f9;
}

.menu-header button{
    font-family: var(--font-action);
    border-radius: .9rem;
    padding: .4rem .2rem;
    background-color: #252599;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
}

.menu-header button:hover{
    background-color: #252577;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--background-primary-color);
    width: 100%;
    height: 100%;
   
}

.title-container-text{
    margin-top: 24rem;
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
}

.title-container-text h1{
    font-family: var(--font-primary);
}

.title-container-text h2{
    margin-top: 6rem;
    font-family: var(--font-primary);
}

.img-wrapper-main{
    height: 100%;
    width: 100%;
    margin-top: 12rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.img-wrapper-main img{
    width: 100%;
    object-fit: cover;
}

.subtitle-container-menu{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    padding: 5rem;
    background-color: var(--background-secondary-color);
}

.subtitle-container-menu h5{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-secundary);
}

.container-wrapper-menu-itens a{
    font-family: var(--font-action);
    box-shadow:3px 3px 1px rgb(87, 87, 147);
    font-size: 1rem;
    color: darkblue;
    font-weight: bold;
    background-color: rgb(174, 174, 253);
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    object-fit: cover;
    /* border: 1px solid #000; */
    border-radius: 2.5rem;
    text-align: center;
    transition: all .2s ease;
    line-height: 1.6rem;
}

.container-wrapper-menu-itens a:hover{
    background-color: #858585;
    transform: scale(1.02);
}

#item-desafios img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-cronometro img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-temp img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-sortear img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-cria-gp img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-pontua-player img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-pontua-gp img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-leaderboard img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#item-desafios img{
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitle-container-menu .container-wrapper-menu-itens{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}


.desafios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary-color);
    min-height: 100vh;
}
 

.desafios-container h5{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: var(--font-secundary);
    font-size: 4rem;
}

.cronometro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary-color);
    min-height: 100vh;
}

.cronometro-container{
    display: block;
    align-items: center;
    justify-content: center;
    
    font-family: var(--font-secundary);
    font-size: 3rem;
}

.cronometro-container h2{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-cronometro{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5rem;
}

.big-text-cron{
    font-size: 6rem;
    font-family: var(--font-primary);
    margin: 0 2rem;
}

.wrapper-button-cron{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail-box textarea{
    font-size: .8rem;  
    padding: .8rem;  
}

.countdown-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.countdown-container h2{
    font-family: var(--font-secundary);
    font-size: 4rem;
}

.wrapper-countdown{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5rem;
}


.big-text{
    font-size: 8rem;
    font-family: var(--font-primary);
    margin: 0 2rem;
}



.minutes-c,
.seconds-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-secundary);
    font-size: 1.5rem;
}

.wrapper-button-countdown{
    max-width: 5rem;
    max-height: 5rem;
    
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 2rem;
}

.button-action{
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 2.5rem;
    max-width: 5.5rem;
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;

    background-size: 4.5rem;
    background-color: #252599;
    color: white;

    border-radius: 25%;
    cursor: pointer;
    transition: background-color .3s;
}

.button-action button:hover{
    background-color: #252577;
}

.shuffle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary-color);
    min-height: 100vh;

    font-family:  var(--font-action);
    font-size: 4rem;
    flex-direction: column;
}

.shuffle-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.wrapper-players-on{
    display: flex;
    align-items:center;
    justify-content: center;
}

.wrapper-players-on input{
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: auto;
}